# Entorn virtual
.venv/
venv/
env/
venvubuntu
venv2

# Fitxers temporals i de cache
*.timestamp-*.mjs
*.db
backend/runs/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.tmp
*.swp
*.DS_Store

# Configuració local
.env
*.ini
*.cfg

# Vídeos i àudios generats
output/
*.mp4
*.mov
*.avi
*.mkv
*.wav
*.mp3
*.m4a

# Imatges generades o processades
*.png
*.jpg
*.jpeg
*.webp

# Fitxers de Jupyter Notebook
.ipynb_checkpoints/
*.ipynb

# Fitxers de prova o d'execució
test_*/
tmp_*/
cache/
build/
dist/
*.spec

# Node / frontend
node_modules/
frontend/dist/
*.tsbuildinfo
frontend/vite.config.d.ts
frontend/vite.config.js

# Editors
.vscode/
.idea/
.codex
.claude/

prompts
storyblocks

cookies/*
!cookies/README.md

venvubuntu/

*.txt
*.lang
